<%= form_for(audio_clip) do |f| %>
  <% if audio_clip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(audio_clip.errors.count, "error") %> prohibited this audio_clip from being saved:</h2>

      <ul>
      <% audio_clip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :clip %>
    <%= f.file_field :clip %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.number_field :color %>
  </div>

  <div class="field">
    <%= f.label :clip_date %>
    <%= f.date_select :clip_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
